<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员信息</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/d3/d3.min.js" charset="utf-8"></script>
	<style>
        html,body{
            height: 100%;
        }
        .chart{
            height:100%;
            width:100%;
        }
		.chart text{
			fill : white;
            font:10px sans-serif;
            text-anchor: end;
            text-anchor: end;
		}
        .label {
          text-anchor: middle;
        }
        .bar{
            fill: steelblue;
        }
        .bar:hover{
            fill:red;
        }
         .line {
          fill: none;
          stroke-width: 2px;
        }
	</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="text-center">学员个人信息</h3>
        </div>
    </div>
    <br>
    <div class="col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1">
        <br>
        <img src={{person.image.url}} class="img-thumbnail" >
    </div>
    <br>
    <div class="col-md-8 col-lg-8 ">
         <table class="table">
          <tbody>
            <tr>
                <td><strong>培训编号：</strong></td>
                <td id="number">{{person.number}}</td>
                <td><strong>姓名：</strong></td>
                <td>{{person.name}}</td>
                <td><strong>性别：</strong></td>
                <td>{{person.gender}}</td>
            </tr>
            <tr>
                <td><strong>身份证号：</strong></td>
                <td>{{person.idcard}}</td>
                <td><strong>籍贯：</strong></td>
                <td>{{person.province}}</td>
            </tr>
            <tr>
                <td><strong>年龄：</strong></td>
                <td>{{person.age}}</td>
                <td><strong>电话：</strong></td>
                <td>{{person.phone}}</td>
            </tr>
            <tr>
                <td><strong>邮箱：</strong></td>
                <td>{{person.email}}</td>
                <td><strong>住址：</strong></td>
                <td>{{person.address}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row">
            <div class="col-xs-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                 <svg class="chart"></svg>
            </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div id = "diagram" class="col-xs-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-5 col-md-5 col-lg-5">
            <button id="list" type="button" class="btn btn-primary pull-right">返回列表</button>
        </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
            <button id="edit" type="button" class="btn btn-info center-block">编辑信息</button>
        </div>
        <div class="col-xs-5 col-md-5 col-lg-5">
            <button id="delete" type="button" class="btn btn-danger pull-left">删除信息</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        var width = $(".chart").width();
        var height = width/2;
        $(".chart").height(height);
        DrawChart();
        number = $("#number").text();
        $("#edit").click(function () {
            window.location.href = "/manage/person/edit/"+number;
        })
        $("#delete").click(function () {
            window.location.href = "/manage/person/delete/"+number;
        })
        $("#list").click(function () {
            window.location.href = "/manage/people";
        })
        $(".bar").click(function () {
//            var original = [{level1:90,level2:80,level3:78,level4:78,level5:68,average:56,date:"day1"},
//                        {level1:80,level2:80,level3:88,level4:58,level5:88,average:76,date:"day2"},
//                        {level1:70,level2:80,level3:98,level4:98,level5:38,average:86,date:"day3"},
//                        {level1:70,level2:80,level3:78,level4:58,level5:58,average:36,date:"day4"},
//                        {level1:20,level2:60,level3:79,level4:55,level5:35,average:43,date:"day5"}]
            var lesson = $(this).attr("id");
//            console.log(lesson);
            d3.json("/manage/analysis/"+lesson+"/"+number,function (error,data) {
                if(error)
                    throw error;
//                console.log(data);
                if(data.length == 0){
                    alert("该学员还没有对当前课程进行过培训！")
                    return
                }
                var mdata = ConvertJson(data);
//                console.log(mdata);
                LessonAnalysis(mdata);
            })
        });
    })
    function DrawChart(){
        var lessons = {{ grade|safe }}
//        console.log(list);
        for(lesson in lessons){
            lesson.value = parseFloat(lesson.value);
        }

//        var mdata = [{name:"Lesson1",value:90.78},
//            {name:"Lesson2",value:83.67},
//            {name:"Lesson3",value:67.45},
//        ];
        mdata = lessons;

        margin = {top:30,right:30,bottom:30,left:30}
        var chart_height = $(".chart").height() - margin.top - margin.bottom;
        var chart_width = $(".chart").width() - margin.left - margin.right;

        var x = d3.scaleBand()
            .domain(mdata.map(function (d) {
                return d.name
            }))
            .rangeRound([0,chart_width])
            .padding(0.4);

        var y = d3.scaleLinear()
            .domain([0,100])
            .range([chart_height,0])

        var chart = d3.select(".chart")
            .attr("width",chart_width + margin.left + margin.right)
            .attr("height",chart_height+margin.top+margin.bottom)
            .append("g")
            .attr("transform","translate("+margin.left+","+margin.top+")");

        var barWidth = chart_width/mdata.length;

        var xAxis = d3.axisBottom()
            .scale(x);

        chart.append("g")
            .attr("class","x axis--x")
            .attr("transform","translate(0,"+chart_height+")")
            .call(xAxis)
            .selectAll("text")
            .style("text-anchor","middle")
            .style("fill","black")
            .style("font-size","1.5em");

        var bar = chart.selectAll(".bar")
            .data(mdata)
            .enter()
            .append("g")
            .attr("transform",function (d,i) {
                return "translate("+x(d.name)+",0)";
            })
        bar.append("rect")
            .attr("y",function (d) {
                return y(d.value)
            })
            .attr("height",function (d) {
                return chart_height - y(d.value);
            })
            .attr("width",x.bandwidth())
            .attr("class","bar")
            .attr("id",function (d) {
                return d.name
            })

        bar.append(("text"))
            .attr("x",barWidth*0.6/2+15)
            .attr("y",function (d) {
                return y(d.value)+3;
            })
            .attr("dy","1.3em")
            .style("font-size","1.3em")
            .text(function (d) {
                return d.value;
            })

    }
    function LessonAnalysis(mdata){
        var margin = {top:30,right:30,bottom:30,left:30};
        var chart_width = $("#diagram").width() - margin.left - margin.right;
        var chart_height = chart_width/2 - margin.top - margin.bottom;
        var barWidth = chart_width/mdata.length;
        if($("#analysis").length>0){
            $("#analysis").remove();
        }
        var svg = d3.select("#diagram").append("svg").attr("id","analysis");

        var diagram = svg.attr("width",chart_width + margin.left + margin.right)
            .attr("height", chart_height + margin.top + margin.bottom)
            .append("g")
            .attr("transform","translate("+margin.left+","+margin.top+")")

        var x = d3.scaleBand()
            .domain(mdata[0].value.map(function (d) {
                return d.date
            }))
            .range([0,chart_width]);

        var y = d3.scaleLinear()
            .domain([0,100])
            .range([chart_height,0]);

        var s = new Array();
            for(var i=0 ;i< mdata.length;i++){
                s.push(i);
            }
        var legend = chart_width/s.length;
        var z = d3.scaleOrdinal()
            .domain(mdata.map(function (d) {
                return d.key
            }))
            .range(s)
        var colors = ["green","red","orange","black","blue","purple","pink","yellow"]

        var lineFunction = d3.line()
                         .x(function(d){return x(d.date);})
                         .y(function(d){return y(d.value);});

        diagram.append("g")
            .attr("class","x axis--x")
            .attr("transform","translate(0,"+chart_height+")")
            .call(d3.axisBottom(x));
        diagram.append("g")
            .attr("class","y axis--y")
            .call(d3.axisLeft(y));

        var serie = diagram.selectAll(".serie")
            .data(mdata)
            .enter()
            .append("g")
            .attr("class","serie")
            .attr("transform","translate("+x.bandwidth()/2+",0)")

        serie.append("path")
            .attr("class","line")
            .attr("stroke",function (d,i) {
                return colors[i];
            })
            .attr("d",function (d) {
                return lineFunction(d.value);
            })

        var circle = serie.selectAll("circle")
            .data(function(d){
                return d.value;
            })
            .enter()
            .append("circle")
            .attr("r",".5em")
            .attr("fill",function (d) {
                var n = z(d.key);
                return colors[n];
            })
            .attr("transform",function(d){
                return "translate("+x(d.date)+","+y(d.value)+")";
            })

         var icon = diagram.selectAll(".label")
            .data(mdata)
            .enter()
            .append("g")
             .attr("class", "label")
            .attr("transform",function(d,i){
                return "translate("+(legend*i+barWidth/2)+","+(-margin.top/2)+")";
            });

         var rect = icon.append("rect")
             .attr("dx","-3em")
            .attr("width",".5em")
            .attr("height",".5em")
            .attr("fill",function (d,i) {
                return colors[i];
            })

         var text = icon.append("text")
             .attr("dx","3em")
            .attr("fill", "black")
            .attr("dy",".5em")
            .text(function (d) {
                return d.key;
            })
    }
    function ConvertJson(original){
        var item = original[0];
        var accept_list = [];
        for (attr in item){
            accept_json = {}
            if(attr != 'date'){
                accept_json["key"] = attr;
                var list = [];
                for(var i=0;i< original.length;i++){
                    var ob = original[i];
                    j = {};
                    j["key"] = attr;
                    j["date"] = ob["date"];
                    j["value"] = ob[attr];
                    list.push(j);
                }
                accept_json["value"] = list;
                accept_list.push(accept_json);
            }
        }
        return accept_list;
    }
</script>

</body>
</html>