<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑培训人员信息</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/fileinput/css/fileinput.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/fileinput/js/fileinput.min.js" charset="utf-8"></script>
    <script src="/static/fileinput/js/locales/zh.js" charset="utf-8"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h3 class="text-center">编辑培训人员个人信息</h3>
            </div>
        </div>
        <br>
        <form id="form" enctype="multipart/form-data" action="/manage/person/update" method="post">
            <div class="row">
                <div class="col-xs-4 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-2">
                        <input name="number" type="hidden" value={{person.number}}>
                       <div class="form-group">
                        <label >姓名</label>
                        <input name="name" type="text" class="form-control" placeholder="请输入您的真实姓名" value={{person.name}}>
                      </div>
                       <div class="form-group">
                        <label >身份证</label>
                        <input name="idcard" type="text" class="form-control" placeholder="请输入您的身份证号码" value={{person.idcard}}>
                      </div>
                       <div class="form-group">
                        <label >籍贯</label>
                        <input name="province" type="text" class="form-control" placeholder="请输入您的籍贯" value={{person.province}}>
                      </div>
                       <div class="form-group">
                        <label >年龄</label>
                        <input name="age" type="text" class="form-control" placeholder="请输入您的年龄" value={{person.age}}>
                      </div>
                       <div class="form-group">
                            <label >电话</label>
                            <input name="phone" type="text" class="form-control" placeholder="请输入您的联系电话" value={{person.phone}}>
                       </div>
                       <div class="form-group">
                            <label >邮箱</label>
                            <input name="email" type="text" class="form-control" placeholder="请输入您的常用邮箱" value={{person.email}}>
                      </div>
                       <div class="form-group">
                            <label >性别</label>
                            <input name="gender" type="text" class="form-control" placeholder="请输入您的性别" value={{person.gender}}>
                      </div>
                </div>
                <div class="form-group col-xs-4 col-md-4 col-lg-4">
                        <br>
                        <input name="avatar" id="image" type="file" multiple>
                </div>
             </div>
            <div class="row">
                <div class="col-xs-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                    <div class="form-group">
                        <label>联系地址</label>
                        <input name="address" type="text" class="form-control" placeholder="请输入您的联系地址" value={{person.address}}>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <button id="submit" type="button" class="btn btn-success center-block">保存信息</button>
            </div>
        </div>
        <div id="p" hidden >{{person.image.url}}</div>
    </div>
    <script type="text/javascript">
            var url = $("#p").text();
            $("#image").fileinput({
                showUpload: false,
                showCaption: false,
                showRemove:false,
                showClose:false,
                browseClass: "btn btn-default",
                fileType: "any",
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                overwriteInitial: true,
                initialPreviewAsData: true,
                maxFileCount:1,
                language:"zh",
                preivewClass:"file-preview-image",
                initialPreview: [
                    url,
                ],
                initialPreviewConfig: [
                    {caption: "avatar.jpg", width: "120px"},
                ]
            });

            $(function(){
                $("#submit").click(function () {
                    $("#form").submit();
                })
            })
    </script>
</body>
</html>