<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更改密码</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .error_msg{
            color: red;
        }
        .succeed_msg{
            background-color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        {% if succeed %}
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 succeed_msg">
                <h3 class="text-center" style="color: white">密码修改成功！</h3>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                <h1 class="text-center">重置管理员密码</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                 <form id="form" action="/manage/reset/password" method="post">
                        <div class="form-group">
                            <label >原始密码</label>
                            <input name="origin" type="password" class="form-control" placeholder="请输入您的原始密码" value{{error.origin.value}}>
                            {% if error.errors.origin %}
                            <span class="error_msg">{{ error.errors.origin.0 }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label >新密码</label>
                            <input name="password1" type="password" class="form-control" placeholder="请输入新的登录密码" value{{error.origin.value}}>
                            {% if error.password1 %}
                            <span class="error_msg">{{ error.errors.password1.0 }}</span>
                            {% endif %}
                        </div>
                            <div class="form-group">
                            <label >重复新密码</label>
                            <input name="password2" type="password" class="form-control" placeholder="请重复新的登录密码" value{{error.origin.value}}>
                            {% if error.password2 %}
                            <span class="error_msg">{{ error.errors.password2.0 }}</span>
                            {% endif %}
                        </div>
                 </form>
            </div>
        </div>
       <br>
        <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <button id="submit" type="button" class="btn btn-primary center-block">登录</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            $("#form").submit();
        })
    })
</script>
</html>